/* This file is for your main application css. */

@import "./milligram.css";

body {
  background-color: #dddddd;
}

.container {
  margin: 0 auto;
  max-width: 90.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.wa-avatar {
  text-align: center;
}

.wa-row {
  display: flex;
  flex-direction: column;
}
.wa-row-left {
  align-items: flex-start;
}
.wa-row-right {
  align-items: flex-end;
}

/* Message box */
.wa-message {
  padding: 0px !important;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  max-width: 65%;
}

.wa-message-photo {
  border-radius: 5px 5px 0 0;
  max-height: 600px;
}

.wa-message-box {
  padding: 0 10px 0 10px;
  margin-top: 5px;
}

.wa-message-date {
  text-align: right;
  color: grey;
  font-size: 12px;
}
